html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; /* Ensure there's space for the footer */
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure the footer takes the full width */
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

.profile-pic {
  width: 100%;
  height: auto;
}
.bio-card {
  height: calc(100% - 1rem); /* Adjust to be slightly shorter than the profile picture */
  display: flex;
  flex-direction: column;
  justify-content: center;
}